.loginPage .login-container {
  margin: 30px auto;
  background: rgba(255, 255, 255, 0.489);
  backdrop-filter: blur(16px);
  max-width: 1195.6px;
  border-radius: 8px;
  font-family: Poppins;
  min-width: 330px !important;
}

.loginPage .login-container .row .col-8 img {
  width: 100%;
}

.loginPage .login-container .row .col-lg-4 {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(16px);
  padding: 24px;
}

.loginPage .login-container .row .col-lg-4 h1 {
  font-family: Bebas Neue;
  font-size: 75px;
  text-align: left;
  color: #000;
}

.loginPage .login-container .row .col-lg-4 h3 {
  font-size: 55px;
  font-family: Bebas Neue;
  text-align: left;
}

.loginPage .login-container .row .col-lg-4 h4 {
  font-size: 40px;
  font-family: Bebas Neue;
  text-align: left;
  margin-top: -10px;
}

.loginPage form {
  display: flex;
  flex-direction: column;
}

.loginPage form input {
  background: rgba(255, 255, 255, 0.69);
  border-radius: 8px;
  outline: none;
  border: 0;
  padding: 12px 16px;
}

.loginPage form button {
  background: #0f2865;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 12px 0;
  color: white;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  border: 0;
}

.loginPage .google-btn {
  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 12px 0;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  border: 0;
  width: 100%;
  align-items: center;
}

.silent-text {
  color: #666666;
  font-size: 14px;
  text-align: center;
}

@media only screen and (max-width: 475px) {
  .loginPage .login-container .row .col-lg-4 h1 {
    font-size: 50px;
  }
}
