.selectFanatay .credits-div {
  padding: 0.2rem 0.6rem;
  border-radius: 20px;
  background: rgba(15, 40, 101, 1);
  color: white;
}

.selectFanatay .credits-div p {
  font-size: 14px;
}

.selectFanatay .css-1izfg5m {
  width: auto;
  background-color: transparent;
}

.selectFanatay .css-19kzrtu {
  padding: 0;
}

.selectFanatay .MuiBox-root header {
  background-color: #fff;
  box-shadow: none;
}

.selectFanatay .css-ahj2mt-MuiTypography-root {
  font-family: "Poppins", sans-serif;
}

.selectFanatay .MuiBox-root button {
  color: #000;
  font-weight: 700;
  font-size: 0.8rem;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.selectFanatay .MuiBox-root .css-11yukd5-MuiTabs-indicator {
  background-color: #000;
  height: 3px;
  border-radius: 10px;
  width: fit-content;
}

.selectFanatay .player-card {
  background-color: #fff;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(16px);
}
