.gameOne .row .card {
  padding: 0.5rem 0.7rem;
  position: relative;
  line-height: 40px;
  min-width: 277px;
}

.gameOne .row .card .badge {
  position: absolute;
  top: 12px;
  right: 10px;
  color: #000;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 24px;
  padding: 0.4rem;
  cursor: pointer;
}

.gameOne .row .card .badge:hover {
  background-color: rgba(255, 255, 255, 0.836);
}

.gameOne .row .card h3 {
  font-weight: 700;
  font-size: 25px;
}

.gameOne .row .card h4 {
  font-weight: 600;
  font-size: 20px;
}

.gameOne .row .card h5 {
  font-size: 15px;
}

.gameOne .row2 .col-md-2 .container-fluid p {
  font-size: 13px;
}

.gameOne .row2 .container-fluid {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(16px);
  border-radius: 8px;
  min-width: fit-content;
}

.gameOne .row2 .container-fluid.bg-transparent {
  backdrop-filter: blur(0px);
}

.gameOne .row2 .container-fluid .silent-text {
  color: rgba(0, 0, 0, 0.4);
  font-size: 24px;
}

.gameOne .row2 .container-fluid .silent-text-1 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  font-weight: 500;
}

.gameOne .row2 .container-fluid .silent-text-2 {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
}

.gameOne .row2 .card {
  padding: 24px;
  line-height: 24px;
  min-width: fit-content;
}

.gameOne .row2 .count-down .block {
  background: linear-gradient(
    166.43deg,
    rgba(0, 0, 0, 0.58) 0%,
    #000000 45.48%,
    rgba(0, 0, 0, 0.79) 95.97%
  );
  border-radius: 8px;
  color: #fff;
  margin: 0 0.3rem;
  width: 50px;
  height: 90px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.gameOne .row2 .count-down .block h4 {
  font-size: 50px;
}

.gameOne .row2 .count-down .flex-column .silent-text {
  font-size: 16px;
  background: linear-gradient(
    rgba(0, 0, 0, 1) rgba(0, 0, 0, 0.41) rgba(0, 0, 0, 1)
  );
  font-weight: 600;
}
