.MyteamCard,
.PoolCard {
  width: 411px;
  height: 149px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(16px);
  border-radius: 8px;
}
.MyteamCard .Col1 .Row1,
.PoolCard .Col1 .Row1 {
  position: absolute;
  width: 260px;
  height: 48px;
  left: 16px;
  top: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #000000;
}
.MyteamCard .Col1 .Row2,
.PoolCard .Col1 .Row2 {
  position: absolute;
  width: 133px;
  height: 100px;
  top: 60px;
  left: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #666666;
}
.MyteamCard .Col1 .Row3,
.PoolCard .Col1 .Row3 {
  position: absolute;
  width: 250px;
  height: 48px;
  top: 100px;
  left: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #000000;
}
.MyteamCard .Col2,
.PoolCard .Col2 {
  padding: 4px 12px;
  position: absolute;
  width: 137px;
  height: 32px;
  left: 258px;
  top: 10px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 24px;
}

.PoolCard {
  position: absolute;
  left: 40%;
}

/*Center Big Card Css*/
.BigCard .PakSquad,
.IndSquad {
  position: static;
  width: 250px;
  height: 650px;
  left: 24px;
  top: 24px;
  background: rgba(255, 255, 255, 0.6);
  /* Background Blur */
  backdrop-filter: blur(16px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 8px;
  font-family: Poppins;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

.CardCenter .Title .Row1 {
  position: absolute;
  width: 549px;
  height: 48px;
  left: 460px;
  top: 40px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height */
  color: #000000;
}

.CardCenter .Title .Row2 {
  position: absolute;
  width: 352px;
  height: 27px;
  left: 500px;
  top: 75px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  color: rgba(0, 0, 0, 0.8);
}

.CardCenter .Title .Row3 {
  position: absolute;
  width: 327px;
  height: 24px;
  left: 520px;
  top: 95px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: rgba(0, 0, 0, 0.6);
}

/* .CardCenter .FlagImage .Row3 */

.CardCenter .FlagImage .Row1 {
  position: absolute;
  width: 220px;
  height: 128px;
  left: 350px;
  top: 200px;
  border-radius: 8px;
}
.CardCenter .FlagImage .Row3 {
  position: absolute;
  width: 220px;
  height: 128px;
  left: 750px;
  top: 200px;
  border-radius: 8px;
}
.CardCenter .FlagImage .Row2 {
  position: absolute;
  width: 31px;
  height: 36px;
  left: 650px;
  top: 300px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;

  color: rgba(0, 0, 0, 0.4);
}

/*Watch*/
.CardCenter .Watch .Row1 .Row2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 96px;
  /* identical to box height */

  text-align: center;
}

.CardCenter .Watch .Day .Row1 {
  position: absolute;
  width: 64px;
  height: 116px;
  left: 350px;
  top: 450px;
  background: linear-gradient(
    166.43deg,
    rgba(0, 0, 0, 0.58) 0%,
    #000000 45.48%,
    rgba(0, 0, 0, 0.79) 95.97%
  );
  border-radius: 8px;
}
.CardCenter .Watch .Day .Row2 {
  position: absolute;
  width: 64px;
  height: 116px;
  left: 425px;
  top: 450px;
  background: linear-gradient(
    166.43deg,
    rgba(0, 0, 0, 0.58) 0%,
    #000000 45.48%,
    rgba(0, 0, 0, 0.79) 95.97%
  );
  border-radius: 8px;
}

.CardCenter .Watch .Hour .Row1 {
  position: absolute;
  width: 64px;
  height: 116px;
  left: 530px;
  top: 450px;
  background: linear-gradient(
    166.43deg,
    rgba(0, 0, 0, 0.58) 0%,
    #000000 45.48%,
    rgba(0, 0, 0, 0.79) 95.97%
  );
  border-radius: 8px;
}
.CardCenter .Watch .Hour .Row2 {
  position: absolute;
  width: 64px;
  height: 116px;
  left: 605px;
  top: 450px;
  background: linear-gradient(
    166.43deg,
    rgba(0, 0, 0, 0.58) 0%,
    #000000 45.48%,
    rgba(0, 0, 0, 0.79) 95.97%
  );
  border-radius: 8px;
}

.CardCenter .Watch .Minute .Row1 {
  position: absolute;
  width: 64px;
  height: 116px;
  left: 700px;
  top: 450px;
  background: linear-gradient(
    166.43deg,
    rgba(0, 0, 0, 0.58) 0%,
    #000000 45.48%,
    rgba(0, 0, 0, 0.79) 95.97%
  );
  border-radius: 8px;
}

.CardCenter .Watch .Minute .Row2 {
  position: absolute;
  width: 64px;
  height: 116px;
  left: 775px;
  top: 450px;
  background: linear-gradient(
    166.43deg,
    rgba(0, 0, 0, 0.58) 0%,
    #000000 45.48%,
    rgba(0, 0, 0, 0.79) 95.97%
  );
  border-radius: 8px;
}
.CardCenter .Watch .Second .Row1 {
  position: absolute;
  width: 64px;
  height: 116px;
  left: 875px;
  top: 450px;
  background: linear-gradient(
    166.43deg,
    rgba(0, 0, 0, 0.58) 0%,
    #000000 45.48%,
    rgba(0, 0, 0, 0.79) 95.97%
  );
  border-radius: 8px;
}

.CardCenter .Watch .Second .Row2 {
  position: absolute;
  width: 64px;
  height: 116px;
  left: 950px;
  top: 450px;
  background: linear-gradient(
    166.43deg,
    rgba(0, 0, 0, 0.58) 0%,
    #000000 45.48%,
    rgba(0, 0, 0, 0.79) 95.97%
  );
  border-radius: 8px;
}

.BigCard {
  position: static;
  width: 1332px;
  height: 716px;

  background: rgba(255, 255, 255, 0.6);
  /* Background Blur */
  backdrop-filter: blur(16px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 8px;

  padding: 24px;
}
