.gameTwo .card {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(16px);
  border-radius: 8px;
}

.gameTwo .row1 h3 {
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-weight: 600;
}

.gameTwo .row1 h5 {
  color: rgba(0, 0, 0, 0.4);
  font-size: 18px;
  font-weight: 500;
}

.gameTwo .progress {
  border-radius: 20px;
  background-color: rgba(11, 74, 170, 1);
  height: 12px;
}

.gameTwo .progress .progress-bar {
  background-color: rgba(87, 151, 246, 1);
}

.gameTwo .card .center {
  font-weight: 600;
}

.gameTwo .card .left {
  color: rgba(11, 74, 170, 1);
  font-weight: 600;
  font-size: 20px;
}

.gameTwo .card .right {
  color: rgba(11, 74, 170, 1);
  font-weight: 700;
  font-size: 20px;
}

.gameTwo .wickets {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(16px);
  border-radius: 8px;
}

.gameTwo .wickets .container-fluid {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
}

.gameTwo .wickets .runs {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0.7rem;
}

.gameTwo .wickets .runs h5 {
  font-size: 100%;
  font-weight: 600;
}

.gameTwo .wickets .runs.out {
  background: rgba(238, 32, 59, 1);
}

.gameTwo .wickets .runs.four {
  background: rgba(226, 160, 66, 1);
}

.gameTwo .wickets .runs.six {
  background: rgba(32, 238, 151, 1);
}

.gameTwo .wickets .runs.wide {
  background: rgba(124, 124, 124, 1);
}

.gameTwo .commentary {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(16px);
  border-radius: 8px;
}

.gameTwo .commentary .container-fluid {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
}

.gameTwo .commentary .container-fluid p {
  margin: 1rem 0;
}

.gameTwo .pts-card {
  background: rgba(24, 157, 206, 1);
  border-radius: 8px;
  color: #000;
  margin: 0.8rem 0;
}

.gameTwo .pts-card.purple {
  background: rgba(159, 140, 255, 1);
}

.gameTwo .pts-card.yellow {
  background: rgba(255, 189, 41, 1);
}

.gameTwo .pts-card .pts {
  background-color: rgba(29, 184, 242, 1);
  padding: 0.5rem;
  border-radius: 8px;
}

.gameTwo .pts-card .pts.purple {
  background: rgba(112, 85, 246, 1);
}

.gameTwo .pts-card .pts.yellow {
  background: rgba(204, 153, 37, 1);
}

.gameTwo .pts-card p {
  font-weight: 500;
  font-size: 1rem;
}

.gameTwo .pts-card .pts p {
  font-weight: 600;
  font-size: 1rem;
}
