.Main .ScoreBoard {
  position: static;
  width: 1265px;
  height: 272px;
  left: 0px;
  top: 0px;

  background: rgba(255, 255, 255, 0.75);
  /* Background Blur */

  backdrop-filter: blur(16px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 8px;
}

.Main .ScoreBoard .Row1 {
  position: absolute;
  top: 30px;
  left: 200px;
}

.Main .ScoreBoard .Row2 {
  position: absolute;
  top: 30px;
  left: 475px;
}

.Main .ScoreBoard .Row3 {
  position: absolute;
  top: 30px;
  left: 720px;
}

.Main .ScoreBoard .Row4 {
  position: absolute;
  top: 30px;
  left: 900px;
}

.Main .ScoreBoard .Row3 .h2 {
  position: static;
  width: 171px;
  height: 72px;
  left: 0px;
  top: 0px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 72px;
  /* identical to box height, or 112% */

  text-align: center;

  color: #000000;
}

/*Probablity*/
.Main .WinProb {
  display: flex;
  justify-content: space-around;
  padding: 24px;
  position: static;
  width: 603px;
  height: 120px;
  left: 0px;
  top: 0px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
}

.Main .WinProb .title {
  position: absolute;
  left: 250px;
  padding-bottom: 100px;
}

.Main .WinProb .blue {
  position: absolute;
  width: 170px;
  font-weight: 600;
  top: 420px;
  left: 100px;
}

.Main .WinProb .darkblue {
  width: 320px;
  position: absolute;
  top: 420px;
  left: 200px;
}

.Main .BallByBall {
  position: static;
  width: 603px;
  height: 124px;
  left: 0px;
  top: 144px;

  background: rgba(255, 255, 255, 0.6);
  /* Background Blur */

  backdrop-filter: blur(16px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 8px;
}

.Main .BallByBall .Row1 {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 24px;
  background: rgba(255, 255, 255, 0.6);
}

.Main .BallByBall .balls .ball1,
.ball2,
.ball3,
.ball4,
.ball5,
.ball6 {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  padding: 5px;
}

.Main .BallByBall .balls .ball7 {
  background: #20ee97;
  border-radius: 50%;
  padding: 5px;
}

.Main .BallByBall .balls .ball8 {
  background: #ee203b;
  border-radius: 50%;
  padding: 5px;
}

.Main .BallByBall .balls .ball9 {
  background: #e2a042;
  border-radius: 50%;
  padding: 5px;
}

.Main .BallByBall .balls .ball10 {
  background: #7c7c7c;
  border-radius: 50%;
  padding: 5px;
}

.Main .Commentary {
  position: absolute;
  width: 638px;
  height: 379px;
  left: 635px;
  top: 350px;

  background: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
}

.Main .Commentary .Comments {
  background-color: rgba(255, 255, 255, 0.6);
  padding-left: 10px;
}

.Main .MyPoints {
  position: absolute;
  width: 521px;
  height: 597px;
  left: 1300px;
  top: 45px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.75);
  /* Smooth Blur */

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px 8px 0px 0px;
}

.Main .MyPoints .First {
  position: static;
  width: 489px;
  height: 96px;
  left: 0px;
  top: 0px;
  align-items: center;
  background: linear-gradient(
    91.89deg,
    #dfa349 0.31%,
    #edbe3f 10.68%,
    #f0c347 28.3%,
    #ffdf71 47.49%,
    #f7d26a 66.15%,
    #f8b816 88.45%,
    #f8b816 99.85%
  );
  border: 1px solid #d9c878;
  box-sizing: border-box;
  border-radius: 8px;
}

.Main .MyPoints .First .pts {
  padding: 10px;
  position: static;
  width: 66px;
  height: 41px;
  left: 375px;
  top: 3.5px;
  background: #f1a61a;
  border-radius: 8px;
}

.Main .MyPoints .Second {
  position: static;
  width: 489px;
  height: 96px;
  left: 0px;
  top: 0px;
  align-items: center;
  background: linear-gradient(
    89.84deg,
    #cdcaca 0.12%,
    #dde4e9 15.7%,
    #ffffff 40.12%,
    #ffffff 55.71%,
    #d7dadc 83.76%,
    #cec7c7 99.86%
  );
  border: 1px solid #d9c878;
  box-sizing: border-box;
  border-radius: 8px;
}

.Main .MyPoints .Second .pts {
  padding: 10px;
  position: static;
  width: 66px;
  height: 41px;
  left: 375px;
  top: 3.5px;
  background: #c6c6c6;
  border-radius: 8px;
}

.Main .MyPoints .Third {
  position: static;
  width: 489px;
  height: 96px;
  left: 0px;
  top: 0px;
  align-items: center;
  background: linear-gradient(
    90.14deg,
    #ed8355 0.12%,
    #d8987c 20.24%,
    #ffb393 43.53%,
    #e6a88e 60.48%,
    #fb9e76 85.89%,
    #d78867 101.77%
  );
  border: 1px solid #d9c878;
  box-sizing: border-box;
  border-radius: 8px;
}

.Main .MyPoints .Third .pts {
  padding: 10px;
  position: static;
  width: 66px;
  height: 41px;
  left: 375px;
  top: 3.5px;
  background: #eb885f;
  border-radius: 8px;
}

.Main .MyPoints .fourth,
.Main .MyPoints .sixth {
  align-items: center;
  padding: 10px;

  position: static;
  width: 489px;
  height: 41px;
  left: 0px;
  top: 336px;

  background: rgba(255, 255, 255, 0.24);
  border-radius: 8px;
}
