/* Right Side */
.Right .First {
  position: static;
  height: 96px;
  left: 0px;
  top: 0px;
  align-items: center;
  background: linear-gradient(
    91.89deg,
    #dfa349 0.31%,
    #edbe3f 10.68%,
    #f0c347 28.3%,
    #ffdf71 47.49%,
    #f7d26a 66.15%,
    #f8b816 88.45%,
    #f8b816 99.85%
  );
  border: 1px solid #d9c878;
  box-sizing: border-box;
  border-radius: 8px;
}

.Right .First .pts {
  padding: 10px;
  position: static;
  height: 41px;
  left: 375px;
  top: 3.5px;
  background: #f1a61a;
  border-radius: 8px;
}

.Right .Second {
  position: static;
  height: 96px;
  left: 0px;
  top: 0px;
  align-items: center;
  background: linear-gradient(
    89.84deg,
    #cdcaca 0.12%,
    #dde4e9 15.7%,
    #ffffff 40.12%,
    #ffffff 55.71%,
    #d7dadc 83.76%,
    #cec7c7 99.86%
  );
  border: 1px solid #d9c878;
  box-sizing: border-box;
  border-radius: 8px;
}

.Right .Second .pts {
  padding: 10px;
  position: static;
  height: 41px;
  left: 375px;
  top: 3.5px;
  background: #c6c6c6;
  border-radius: 8px;
}

.Right .Third {
  position: static;
  height: 96px;
  left: 0px;
  top: 0px;
  align-items: center;
  background: linear-gradient(
    90.14deg,
    #ed8355 0.12%,
    #d8987c 20.24%,
    #ffb393 43.53%,
    #e6a88e 60.48%,
    #fb9e76 85.89%,
    #d78867 101.77%
  );
  border: 1px solid #d9c878;
  box-sizing: border-box;
  border-radius: 8px;
}

.Right .Third .pts {
  padding: 10px;
  position: static;
  height: 41px;
  left: 375px;
  top: 3.5px;
  background: #eb885f;
  border-radius: 8px;
}

.Right .fourth,
.Right .sixth {
  align-items: center;
  padding: 10px;
  position: static;
  height: 41px;
  left: 0px;
  top: 336px;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 8px;
}

/* Left Side */
/*Probablity bar*/
.WinProb {
  display: flex;
  justify-content: space-around;
  padding: 24px;
  position: static;
  height: 120px;
  left: 0px;
  top: 0px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
}
.WinProb .title {
  position: absolute;
  left: 250px;
  padding-bottom: 100px;
}
.Main .WinProb .blue {
  position: absolute;
  font-weight: 600;
  top: 420px;
  left: 100px;
}
.Main .WinProb .darkblue {
  position: absolute;
  top: 420px;
  left: 200px;
}

/*Numofballs*/
.balls .Row1 {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 24px;
  background: rgba(255, 255, 255, 0.6);
}

.balls .balls .ball1,
.ball2,
.ball3,
.ball4,
.ball5,
.ball6 {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  padding: 5px;
}

.balls .balls .ball7 {
  background: #20ee97;
  border-radius: 50%;
  padding: 5px;
}

.balls .balls .ball8 {
  background: #ee203b;
  border-radius: 50%;
  padding: 5px;
}

.balls .balls .ball9 {
  background: #e2a042;
  border-radius: 50%;
  padding: 5px;
}

.balls .balls .ball10 {
  background: #7c7c7c;
  border-radius: 50%;
  padding: 5px;
}

/*Commentary*/

.Commentary .Comments .Row2 .Row3 .Row4 .Row5 .Row6 .Row7 .Row8 {
  padding-left: 10px;
  display: flex;
  justify-content: space-around;
}

.Commentary .nav {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(16px);
}

/*Scoreboard*/
.Scoreboard {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(16px);
}
